@use "../general/variables" as *;
@use "../helpers/placeholders" as *;
@use "../helpers/mixins" as *;

#delete-all {
    @extend %modal-wrapper;
    .modal {
        @extend %modal;
        .modal-title {
            @extend %modal-title;
        }
        .modal-content {
            padding-bottom: 20px;
            line-height: 1.8;
            color: #777;
        }
        .modal-buttons {
            @extend %modal-buttons-wrapper;
            .save {
                @include modal-button(green, rgb(5, 118, 5));
            }
            .cancel {
                @include modal-button(#777, #666);
            }
        }
    }
}