* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  background-color: #1F4547;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  padding: 15px;
  padding-top: 0;
  padding-bottom: 0;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

header .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
header .container .logo {
  width: 75px;
}
header .container .logo img {
  max-width: 100%;
}
header .container .title {
  font-size: 52px;
  font-weight: 800;
  font-style: italic;
  color: #BFA575;
}
header .container::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -10px;
  height: 4px;
  width: calc(100% - 30px);
  background-color: #BFA575;
}

main .container {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

main .header h3::before, main .header h3::after {
  content: "";
  position: absolute;
  left: 0;
  height: 1px;
  background-color: #BFA575;
}

main .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .header h3 {
  position: relative;
  font-size: 32px;
  font-weight: 800;
  color: #BFA575;
}
main .header h3::before {
  bottom: -2px;
  width: 75%;
}
main .header h3::after {
  bottom: -10px;
  width: 50%;
}
main .header .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
main .header .actions button {
  display: block;
  padding: 10px;
  background-color: #BFA575;
  color: white;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 6px;
  border: none;
}
main .header .actions button:hover {
  background-color: #b1a081;
}

main .tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
main .tasks .task {
  padding: 10px;
  color: #BFA575;
  border-width: 1px;
  border-style: solid;
  border-color: #BFA575;
  border-radius: 10px;
}
main .tasks .task .task-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
}
main .tasks .task .task-header .title {
  font-size: 32px;
  font-weight: 800;
  padding-top: 10px;
  padding-bottom: 10px;
}
main .tasks .task .task-header .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
main .tasks .task .task-header .actions i {
  font-size: 22px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
main .tasks .task .task-header .actions i:hover {
  color: #b1a081;
}
main .tasks .task .task-description {
  line-height: 1.8;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  overflow: hidden;
  height: 0;
}